.flag-nav{
  padding-right: 15px;
  color: $custom-gray;
}

.footer-nav-left{
  padding-right: 80px;
}

.footer-content{
  padding-top: 60px;
}

.trip{
  padding: 70px 0 200px ;
}

.copyright{
  padding: 40px 0 75px;
}