.navbar-nav{
  p{
    color: $custom-orange;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.mobile-phone{

  a{
    font-size: 22px;
    color: #3d3d3d;
  }
}

.nav-link{
  padding: 0;
}

.dropdown-style{

    border-right: 1px solid grey;
    margin: 10px 2px;
    border-radius: 3px;

  a {

    list-style: none;
    color: #fff;

  }
}
.dropdown-style:last-child {
  border-right: none;
}

.dropdown-border{
  border-radius: 0 0 10px 10px;
}

.dropdown-menu{
  background-color: $custom-black;
}