.navbar{
  padding: 0;
}

. navbar-nav{
  p{
    color: $custom-orange;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.mobile-phone{

  a{
    font-size: 22px;
  }
}

.nav-link{
  padding: 0;
}