

.navbar-nav{
  p{
    color: $custom-orange;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.navbar{
  padding: 0
}

.mobile-phone{

  a{
    font-size: 22px;
    color: #3d3d3d;
  }
}

.nav-link{
  padding: 0;
}

.dropdown-style{

    border-right: 1px solid grey;
    margin: 10px 2px;
    border-radius: 3px;

  a {

    list-style: none;


  }
}
.dropdown-style:last-child {
  border-right: none;
}

.dropdown-border{
  border-radius: 0 0 10px 10px;
}

.custom-dropdown-toggle-nav::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 15px;
  vertical-align: 3px;
  content: "";
  border-top: 2px solid transparent;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 2px solid transparent;
  transform: rotate(45deg);
}

.navbar-collapse.collapse {
  justify-content: end;
}

.btn-search{
  background: $orange-gradient;
}

.custom-checkmark{
  position: relative;
  margin-left:30px;

  :after {
    content: '';
    border-left: 3px solid $custom-green;
    border-bottom: 3px solid $custom-green;
    position: absolute;
    width: 20px;
    height: 10px;
    transform: rotate(-45deg);
    left: -30px;
    top: 3px;
  }
}

.link-search{
  color:$custom-black;
}

.form-holder{
  background-color: $custom-gray;
  padding: 17px 30px;
  border-radius: 5px;
}

.search-form{
  padding: 30px 0;
  width: 100%;
  border-bottom: 10px solid transparentize($custom-gray, 0.7);
  margin-bottom: 45px;
}

.link-search{
  font-weight: 600;
}

.form-control{
  border: 0;
}

.input-group{
  padding-right: 8px;
  background-color: white;
  margin-right: 10px;
  border-radius: 3px;

  span{
    background-color: white;
  }
}

.fa-calendar{
  color: $custom-orange;
}

.btn-outline-secondary{
    border: 0px !important;

}

.icon-adult{
  color: $custom-orange;
  position: relative;
  right: 50px;
  font-size: 25px;
}