$custom-orange: #f58220;
$custom-black: #282c32;
$custom-gray: #58585a;
$orange-gradient: linear-gradient(to bottom, rgba(250,164,26,1) 0%, rgba(245,131,32,1) 100%);
$custom-green: #95c727;
$custom-font-size-base: 0.875rem;